@import "tailwindcss";

:root {
  --color-brand: #CC002C;
  --color-brand-hover: #A30023; 
  
  --color-error: #EF4444;
  --color-success: #10B981;
  --color-warning: #F59E0B;

  --bg-page: linear-gradient(180deg, #FFFFFF 60%, #FFF1F2 100%);
  
  --bg-card: #FFFFFF;
  --bg-input: #F8FAFC;
  
  --border-input: #CBD5E1;
  --border-divider: #E2E8F0;
  
  --text-primary: #0F172A; 
  --text-secondary: #475569; 
  --text-placeholder: #94A3B8;
  
  --icon-color: #64748B;
}

@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --bg-page: linear-gradient(180deg, #1E293B 0%, #0F172A 100%);
    
    --bg-card: #1E293B;
    --bg-input: #0F172A; 
    
    --border-input: #334155;
    --border-divider: #334155;
    
    --text-primary: #F8FAFC; 
    --text-secondary: #94A3B8; 
    --text-placeholder: #475569;
    
    --icon-color: #94A3B8;

    --color-brand-hover: #FF1F4B;
  }
}

:root.dark {
    --bg-page: linear-gradient(180deg, #1E293B 0%, #0F172A 100%);
    
    --bg-card: #1E293B;
    --bg-input: #0F172A; 
    
    --border-input: #334155;
    --border-divider: #334155;
    
    --text-primary: #F8FAFC; 
    --text-secondary: #94A3B8; 
    --text-placeholder: #475569;
    
    --icon-color: #94A3B8;

    --color-brand-hover: #FF1F4B;
}

main {
  background: var(--bg-page);
  background-attachment: fixed;
  color: var(--text-primary);
  min-height: 100vh;
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

