name: Build and deploy Node.js app to Azure Web App - KeuzeKompasFrontend

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '22.x'

      - name: npm install, build, and test
        env:
          NEXT_PUBLIC_API_BASE_URL: ${{ secrets.NEXT_PUBLIC_API_BASE_URL }}
        run: |
          npm install
          npm run build --if-present
          
          # Kopieer de statische bestanden naar de standalone map
          cp -r public .next/standalone/public
          cp -r .next/static .next/standalone/.next/static
          
          # Hernoem .next naar _next zodat Azure hem niet negeert
          mv .next/standalone/.next .next/standalone/_next

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: .next/standalone

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_F419FDA10F3E469CB93C427045135ED4 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_63C95FAF1C674B368B95E465D93E286D }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_4B1065F3526546F287F00B48B68C7FF1 }}

      - name: 'Deploy to Azure Web App'
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'KeuzeKompasFrontend'
          slot-name: 'Production'
          package: .